COVID-Team-1  
Dr. Mohanty  
Andy Kawabata  
CSC 405 01  
Last Updated: 09/21/2020  
I, Andy Kawabata, have abided by the UNCG academic policy.

In [1]:
cd ..

C:\Users\andyk\Desktop\Programs\COVID-Team-1\src

In [2]:
import pandas as pd
import ipynb
from ipynb.fs.full import covid_data as cd

In [3]:
data_path = "../data/"
covid_path = "Covid/"
social_path = "Social/"
social_file = "main_table.csv"
meta_file = "meta_data.csv"

# Calculate COVID-19 data trends for last week of the data. Are the cases increasing, decreasing, or stable. Choose a state to analyze.

### Method 

To analyze trends, I first isolated the last 8 columns of the data, which represents the last 8 days. I then used the `loc[]` indexer to isoloate rows that matched the given "state".  Now that I had 8 days of data for every county in the state, I used the `sum()` fucntion to return each column's sum, which is the state's total cases or deaths each day. I then used the `diff()` function on this series to find the number of new cases each day.  
  
State = New York

### Cases

In [4]:
state = "NY"
cases = cd.get_covid_by_cases()
last8 = cases.columns[-8:]
counties = cases.loc[cases["State"] == state, last8]
total_cases = counties.sum()
new_cases = total_cases.diff()[1:].astype(int)
print("Total Cases")
print(total_cases[1:], '\n')
print("New Cases")
print(new_cases)

Total Cases
cases - 9/10/20    441980
cases - 9/11/20    442860
cases - 9/12/20    443709
cases - 9/13/20    444434
cases - 9/14/20    445017
cases - 9/15/20    445783
cases - 9/16/20    446435
dtype: int64

New Cases
cases - 9/10/20    757
cases - 9/11/20    880
cases - 9/12/20    849
cases - 9/13/20    725
cases - 9/14/20    583
cases - 9/15/20    766
cases - 9/16/20    652
dtype: int32

### Analysis 
The number of daily new cases seems relativly stable in New York. There was a dip around 9/14 but the number quickly went back up the day after.

### Deaths

In [5]:
state = "NY"
deaths = cd.get_covid_by_deaths()
last8 = deaths.columns[-8:]
counties = deaths.loc[deaths["State"] == state, last8]
total_deaths = counties.sum()
new_deaths = total_deaths.diff()[1:].astype(int)
print("Total Deaths")
print(total_deaths, '\n')
print("New Deaths")
print(new_deaths)

Total Deaths
deaths - 9/9/20     32714
deaths - 9/10/20    32717
deaths - 9/11/20    32722
deaths - 9/12/20    32731
deaths - 9/13/20    32735
deaths - 9/14/20    32745
deaths - 9/15/20    32745
deaths - 9/16/20    32768
dtype: int64

New Deaths
deaths - 9/10/20     3
deaths - 9/11/20     5
deaths - 9/12/20     9
deaths - 9/13/20     4
deaths - 9/14/20    10
deaths - 9/15/20     0
deaths - 9/16/20    23
dtype: int32

### Analysis  
The number of deaths seemed to fluctuate quite a bit over the last week. Between 9/14 and 9/15 the deaths dropped from 10 to 0, then shot up to 23. This seems like it could possibly be due to a delay in reporting. It's possible that the high spike on 9/16 is counting some of the unreported deaths the day before.

# Read and display the Enrichment data

I'm focusing on the ACS Social data, which consists of a "main table", and a "meta data table" which lists all the variables. I created "getter" functions for both of these tables, which read the files into data frames. I also created a function that helps me search the meta data table for specific variables.

In [7]:
def get_social_data():
    return pd.read_csv(data_path + social_path + social_file)

def get_social_meta_data():
    return pd.read_csv(data_path + social_path + meta_file)

#searches meta data for rows where the variable name contains the given substring
#it prints the data after changing default jupyter items
def search_vars_containing_substring(substring):
    meta_social =  get_social_meta_data()
    pd.set_option('display.max_rows', None) 
    pd.set_option('display.max_colwidth', -1)
    display(meta_social[meta_social["id"].str.contains(substring)])
    pd.reset_option("display.max_rows")
    pd.reset_option("display.max_colwidth")
    
# display main social data
print("Enrichment Data: Social")
display(get_social_data().head())

print("Example Search for substring 'INTERNET' in variable table")
# example search of substring to isolate some of the variables i'm interested in
search_vars_containing_substring("INTERNET")

Enrichment Data: Social

,GEO_ID,NAME,DP02_0001E,DP02_0001M,DP02_0001PE,DP02_0001PM,DP02_0002E,DP02_0002M,DP02_0002PE,DP02_0002PM,...,DP02_0150PE,DP02_0150PM,DP02_0151E,DP02_0151M,DP02_0151PE,DP02_0151PM,DP02_0152E,DP02_0152M,DP02_0152PE,DP02_0152PM
0,id,Geographic Area Name,Estimate!!HOUSEHOLDS BY TYPE!!Total households,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Percent Estimate!!HOUSEHOLDS BY TYPE!!Total ho...,Percent Margin of Error!!HOUSEHOLDS BY TYPE!!T...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Percent Estimate!!HOUSEHOLDS BY TYPE!!Total ho...,Percent Margin of Error!!HOUSEHOLDS BY TYPE!!T...,...,Percent Estimate!!COMPUTERS AND INTERNET USE!!...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Estimate!!COMPUTERS AND INTERNET USE!!Total ho...,Margin of Error!!COMPUTERS AND INTERNET USE!!T...,Percent Estimate!!COMPUTERS AND INTERNET USE!!...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Estimate!!COMPUTERS AND INTERNET USE!!Total ho...,Margin of Error!!COMPUTERS AND INTERNET USE!!T...,Percent Estimate!!COMPUTERS AND INTERNET USE!!...,Percent Margin of Error!!COMPUTERS AND INTERNE...
1,0500000US01001,"Autauga County, Alabama",21115,383,21115,(X),15161,488,71.8,2.3,...,21115,(X),18368,482,87.0,1.7,16651,500,78.9,1.9
2,0500000US01003,"Baldwin County, Alabama",78622,1183,78622,(X),51359,1309,65.3,1.4,...,78622,(X),69635,1314,88.6,0.8,61424,1421,78.1,1.3
3,0500000US01005,"Barbour County, Alabama",9186,280,9186,(X),6030,284,65.6,2.7,...,9186,(X),6986,236,76.1,2.2,5548,273,60.4,2.7
4,0500000US01007,"Bibb County, Alabama",6840,321,6840,(X),4947,366,72.3,3.7,...,6840,(X),5217,376,76.3,3.6,4521,362,66.1,3.9

Example Search for substring 'INTERNET' in variable table

,GEO_ID,id
597,DP02_0150E,Estimate!!COMPUTERS AND INTERNET USE!!Total households
598,DP02_0150M,Margin of Error!!COMPUTERS AND INTERNET USE!!Total households
599,DP02_0150PE,Percent Estimate!!COMPUTERS AND INTERNET USE!!Total households
600,DP02_0150PM,Percent Margin of Error!!COMPUTERS AND INTERNET USE!!Total households
601,DP02_0151E,Estimate!!COMPUTERS AND INTERNET USE!!Total households!!With a computer
602,DP02_0151M,Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a computer
603,DP02_0151PE,Percent Estimate!!COMPUTERS AND INTERNET USE!!Total households!!With a computer
604,DP02_0151PM,Percent Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a computer
605,DP02_0152E,Estimate!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription
606,DP02_0152M,Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription
607,DP02_0152PE,Percent Estimate!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription
608,DP02_0152PM,Percent Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription

# Initial merges with the COVID-19 data using the variables in the Enrichment data.

To merge the enrichment data with the covid data, I used the countyFIPS number as a common variable. While the covid tables include a 5 digit countyFIPS number, the enrichment data only include a "Geo ID" whose last 5 digits are equivilant to the countyFIPS. After exctracting the countyFIPS from the GeoID and putting it into a series, i made a table with only the 14 varibales I chose. I then merged the countyFIPS seriens with my variables. At the point I was able to retreive the covid primary data and merge it with my newly created table.

In [9]:
social_df = pd.read_csv(data_path + social_path + social_file)

#get last 5 digits of GEO_ID column in a series called CountyFIPS
geo_id = social_df["GEO_ID"]
countyFIPS = geo_id[1:].str.slice(-5).astype(int).rename("countyFIPS")
countyFIPS = pd.DataFrame(countyFIPS)

#get chosen variable columns from social enrichment data
my_variables = social_df[['DP02_0151PE', 'DP02_0152PE', 'DP02_0066PE', 'DP02_0067PE', 'DP02_0056PM', 'DP02_0057PE', 'DP02_0079PM', 'DP02_0006PE', 'DP02_0008PE', 'DP02_0014PE', 'DP02_0016E', 'DP02_0015E', 'DP02_0095PE', 'DP02_0026PE', 'DP02_0032PE']]

# merge countyFIPS series with chosen enrichment variables
variables_FIPS = countyFIPS.merge(my_variables, how = 'outer', left_index = True, right_index = True)
variables_FIPS['countyFIPS'] = pd.Series(variables_FIPS['countyFIPS'], dtype = 'Int64')
variables_FIPS = variables_FIPS.loc[1:]

# get covid primary data
covid_primary = cd.get_covid_primary_data()

# merge primary data with enrichment data
pd.merge(variables_FIPS, covid_primary, how='inner', on = 'countyFIPS')

,countyFIPS,DP02_0151PE,DP02_0152PE,DP02_0066PE,DP02_0067PE,DP02_0056PM,DP02_0057PE,DP02_0079PM,DP02_0006PE,DP02_0008PE,...,deaths - 9/8/20,deaths - 9/9/20,deaths - 9/10/20,deaths - 9/11/20,deaths - 9/12/20,deaths - 9/13/20,deaths - 9/14/20,deaths - 9/15/20,deaths - 9/16/20,population
0,1001,87.0,78.9,88.7,27.7,1.3,19.9,2.0,3.6,11.4,...,24,24,24,24,24,24,24,24,24,55869
1,1003,88.6,78.1,90.3,31.3,1.0,18.1,1.0,3.1,9.5,...,46,46,46,47,47,47,47,47,47,223234
2,1005,76.1,60.4,73.0,12.2,2.4,15.7,2.1,3.8,19.3,...,7,7,7,7,7,7,7,7,7,24686
3,1007,76.3,66.1,83.2,11.5,3.4,17.4,2.6,5.7,13.7,...,9,9,9,9,9,9,9,9,9,22394
4,1009,78.7,68.5,80.2,12.6,2.4,16.3,1.0,5.8,9.6,...,12,12,12,12,13,13,13,13,13,57826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3121,56037,92.3,82.4,91,22,1.9,22.2,2.2,4.7,10.7,...,2,2,2,2,2,2,2,2,2,42343
3122,56039,95.8,85.9,94.4,57.4,3.8,25,3.1,4.1,5.2,...,1,1,1,1,1,1,1,1,1,23464
3123,56041,93.9,88.2,92.8,15.4,3.3,10.7,2.7,4.6,7.9,...,2,2,2,2,2,2,2,2,2,20226
3124,56043,87.9,78.3,89.6,21.5,4.4,7.8,3.4,4.6,6.5,...,6,6,6,6,6,6,6,6,6,7805
3125,56045,86.2,73.3,92.2,19.2,3.9,16.1,4.9,5.9,8.1,...,0,0,0,0,0,0,0,0,0,6927