In [20]:
import pandas as pd
import matplotlib.pyplot as plt

In [28]:
c_data = pd.read_csv("../../data/Covid/covid_primary_data.csv")

### The first and last values represent the part of the dataset containing values belonging to the state of Pennsylvania

In [29]:
first = 2280
last = 2347
c_data.loc[first:last,['cases - 9/10/20', 
                        'cases - 9/11/20','cases - 9/12/20', 
                        'cases - 9/13/20','cases - 9/14/20', 
                        'cases - 9/15/20','cases - 9/16/20']]

,cases - 9/10/20,cases - 9/11/20,cases - 9/12/20,cases - 9/13/20,cases - 9/14/20,cases - 9/15/20,cases - 9/16/20
2280,0,0,0,0,0,0,0
2281,721,723,734,734,742,749,758
2282,10969,11069,11126,11126,11268,11358,11431
2283,370,378,380,380,384,386,394
2284,1731,1757,1767,1767,1783,1796,1804
...,...,...,...,...,...,...,...
2343,1163,1177,1190,1190,1210,1232,1238
2344,195,198,201,201,202,204,204
2345,1925,1945,1962,1962,1985,1993,2003
2346,71,71,72,72,72,72,72
2347,3929,3995,4124,4124,4216,4258,4333

### There seems to be an increase in cases in the last week according to our data