In [9]:
import pandas as pd

In [120]:
def get_international_cases():
    return pd.read_csv('../data/Covid_International/cases.csv')

def get_international_population():
    return pd.read_csv('../data/Covid_International/population.csv')

def normalize(x, population):
    return (x/population)*100000
    

df = get_international_cases()
date_column = df['date']
cases = df.loc[:,df.columns[1:]].fillna(value=0)
new_cases = cases.diff().fillna(value=0)
new_cases = new_cases.astype(int)
new_cases.insert(loc=0, column="Date", value=date_column)
new_cases = new_cases.loc[1:]
population_df = get_international_population()
population_df = population_df.rename(columns={"countriesAndTerritories": "country"})
C = population_df[population_df['country'] == 'Antigua and Barbuda']['population']


for country in new_cases.columns[2:]:
    population = population_df[population_df['country'] == country]['population']
    if(population.empty): #
        new_cases = new_cases.drop(country, 1)
        continue
    new_cases[country] = new_cases[country].apply(normalize, args=(population,))

    
display(new_cases)

,Date,World,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Argentina,Armenia,...,Turkey,Uganda,Ukraine,Uruguay,Uzbekistan,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
1,2020-01-01,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2020-01-02,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2020-01-03,17,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2020-01-04,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,2020-01-05,15,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,2020-10-10,347312,0.025688,5.803044,0.332945,165.663625,0.289050,0.0,33.407989,20.720605,...,1.931489,0.209877,0.000000,0.719688,0.657321,2.380790,0.005137,0.000000,0.418843,0.289310
285,2020-10-11,342060,0.000000,5.733546,0.310141,0.000000,0.222112,0.0,27.498144,21.901747,...,1.955203,0.356354,26.368646,0.489388,1.649278,2.662124,0.002055,0.003353,0.206702,0.107650
286,2020-10-12,307665,0.246607,5.837793,0.301019,0.000000,0.654166,0.0,22.811866,24.129043,...,1.780907,0.218622,10.902333,0.748476,0.609516,2.405406,0.002055,0.000000,0.647304,0.006728
287,2020-10-13,282081,0.331378,5.942039,0.348908,386.979874,0.365116,0.0,21.072765,37.627808,...,1.913704,0.137732,10.106609,0.546963,1.302690,2.176822,0.001027,0.003353,0.494997,0.067281
288,2020-10-14,304963,0.169542,6.324275,0.396798,0.000000,0.371201,0.0,29.438591,35.704234,...,1.935046,0.177084,11.736928,0.690901,0.971042,2.233089,0.003082,0.000000,0.206702,0.100922